.ba-level0{
 font-size:14px;
 font-weight:bold;
 line-height:14px;
}
.ba-level1{
 font-size:12px;
 line-height:14px;
}
.ba-level2{
 font-size:12px;
 line-height:14px;
}
.ba-level3{
 font-size:12px;
 line-height:14px;
}
.ba-level4{
 font-size:12px;
 line-height:14px;
}
.ba-level5{
 font-size:12px;
 line-height:14px;
}